<!DOCTYPE html>
<html>
<head>
  <title>NewBooks</title>
  <%= stylesheet_link_tag    "new_books/application", media: "all" %>
  <%= javascript_include_tag "new_books/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
